.homepage {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.homepage h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}


/* Responsive behavior */
@media (min-width: 1024px) {
  .note-list {
    grid-template-columns: repeat(5, 1fr); /* 5 columns on large screens */
  }
}

@media (max-width: 600px) {
  .note-list {
    grid-template-columns: repeat(1, 1fr); /* 2 columns on small screens */
  }
}

